
/obj/Release/net7.0/PubTmp/Out/wwwroot/Imagenes/logo3d
/obj/Release
/obj/Debug
/.vs
/.vs
/.vs/OtherPeopleRecordsWeb
.vs/ProjectEvaluation/otherpeoplerecordsweb.metadata.v7.bin
.vs/ProjectEvaluation/otherpeoplerecordsweb.projects.v7.bin
